.practicalSection,
.educationSection,
.personalSection {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  background-color: aquamarine;
  gap: 1em;
}

.educationSection > h2,
.practicalSection > h2,
.personalSection > h2 {
  grid-column: 1 / 3;
}
